*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.blank{
    width: 100%;
    height: 180px;
    background-color: rgb(27, 189, 94);
}
a{
    position: absolute;
    visibility: hidden;
    padding: 5px;
    width: 100px;
    font-family: Arial;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.add{
    top:80px;
    left:700px;
    background-color: rgb(57, 190, 243);
}
.remove{
    top:120px;
    left:700px;
    background-color: #f14343;
}
.add:hover{
    background: rgb(8, 168, 231);
}
.remove:hover{
    background-color: #c90707;
}
.bigFrame {
    position: absolute;
    transition-property: all;
    transition-duration: 0.16s;
    pointer-events: none;
    border: 1.5px solid rgb(21, 104, 10);
    background-color: rgba(83, 83, 83, 0.3);
    z-index: 1;
}
.smallFrame{
    position: absolute;
    transition-property: all;
    transition-duration: 0.16s;
    pointer-events: none;
    border: none;
    background-color: white;
    font-size: small;
    z-index: 2;
    text-align: right;
    overflow: hidden;
}
.table{
    margin: 0;
    cursor: cell;
    position: relative;
    border-collapse:collapse;
    table-layout: fixed;
}

.colHeader {
    position: relative;
    line-height: 25px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    text-align: center;
    font-size: 10px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(226, 225, 225);
}

.resizeE {
    position: absolute;
    cursor: e-resize;
    width: 8px;
    height: 100%;
    right: -4px;
    top:0;
    z-index: 10;
}
.resizeS{
    position: absolute;
    cursor: s-resize;
    height: 6px;
    width: 100%;
    bottom: -3px;
    left:0;
    z-index: 10;
}
.colHeader:hover{
    background-color: rgb(137, 202, 124) !important;
    cursor: s-resize !important;
}
.corner{
    width: 36px;
    height: 26px;
    min-width: 36px;
    min-height: 26px;
    max-width: 36px;
    max-height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(226, 225, 225);
}

.cell{
    line-height: 25px;
    position: relative;
    text-align: right;
    border: 1px solid rgb(194, 194, 194);
    font-size: small;
    overflow: hidden;
}
.rowHeader {
    position: relative;
    overflow: hidden;
    width: 36px;
    min-width: 36px;
    max-width: 36px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(226, 225, 225);
}
.rowHeader:hover{
    background-color: rgb(137, 202, 124) !important;
    cursor: w-resize;
}

.selected {
    background-color: rgb(185, 185, 185);
}

.colHeader.selected {
    border-bottom-color: rgb(21, 104, 10);
}

.rowHeader.selected {
    border-right-color: rgb(21, 104, 10);
}

.active {
    background-color: rgb(162, 224, 150);
}


